.video-chat-room {
    background-color: #000000;
    width: 100%;
    height: 100vh;
 
}
.video-container {
    height: 90%;
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid 2px #ffffff;
    box-sizing: border-box;
    justify-content: center;
}
.showChat{
    width: 80%;
}

.hideChat{
    width: 100;
}
.video-box{
    width: 32.7%;
    height: 48.5%;
    position: relative;
    margin: 1.5px;

}
.video-on-and-handRaised{
    border: solid 1.5px #000000;
    outline: solid 1.5px #FFCC00;  
    z-index: 1;
}
.video-on-audio-on{
    border: solid 1.5px #000000;
    outline: solid 1.5px #6264A7;  
    z-index: 1; 
}
.video-on{
    border: solid 1.5px #212121;
}
.video-box>video{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover!important;
    
}
/* username */
.username{
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-transform: capitalize;
    background-color: #FACCD2;
    margin-top: 1.4rem;
    /* border: #6264A7 solid 3px; */

}
.avatar>h1{
    font-size: 4.5rem;
    padding: 0;
    margin-top: 1.4rem;
    color:  #D1465A;
    text-align: center;
}
.real-name{
    margin-top: .5rem;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: .9rem;
}
.real-name>svg{
    margin-left: .3rem;
    font-size: 1.3rem;
}
.hand-raised {
    color: #FFCC00;
    margin-right: .5rem;
}
.speaking-with-camera-off{
    position: relative;
    border: #6264A7 solid 4px;
    animation: crescendo 1s alternate ease-in-out;
    box-shadow: rgba(54, 54, 109, 0.25) 0px 50px 100px -20px, rgba(34, 33, 33, 0.3) 0px 30px 60px -30px;
}
.camera-off-hand-raised{
    border: #FFCC00 solid 4px; 
}


.speaking-with-camera-off-hand-raised{
    position: relative;
    border: #FFCC00 solid 4px;
    animation: crescendo 1s alternate ease-in-out;
    box-shadow: rgba(54, 54, 109, 0.25) 0px 50px 100px -20px, rgba(34, 33, 33, 0.3) 0px 30px 60px -30px;
}
@keyframes crescendo {
    0%   {transform: scale(1);}
    100% {transform: scale(1.05);}
  }
  .username-on-video{
position: absolute;
bottom: 0;
left: 0;
margin-bottom: 2px;
margin-left: 2px;
padding: .1rem 0rem .1rem .2rem;
align-items: center;
opacity: 0.7;
background-color:  #212121;
border-radius: 3px;
display: flex;
color: white;
text-transform: capitalize;
font-weight: 400;
  }
  .username-on-video>div{
      font-size: .8rem;
  }
  .username-on-video>svg{
    font-size: 1rem;
    margin-right: .2rem;
}
.hand-raised-pop-up{
    opacity: 0.4!important;
    padding: 0!important;
}
